
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Varela+Round&display=swap');

body{
    background-color: transparent;

}
.top_container{
    height: 80vh;
    background: #35375E;

}
.top_container h1{
    color: snow;
    font-size: 2.9rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    margin-left: 3rem;
    padding-left: 2.5rem;
    margin-top: 7.5rem;
    letter-spacing:1.5px;
    word-spacing: 2px;
    text-align: center;
    width: 37rem;
}
#span1{
    color: rgb(133 222 196);
    padding-right: 10px;
}
#span2{
    color:rgb(248 249 167);
}
.top_container p{
    font-size: 0.9rem;
    color: #f8efefc2;
    width: 35rem;
    margin-left: 5rem;
    margin-top: 2rem;
    padding: 1rem;
    text-align: justify;
    line-height: 2;
}
.top_container button{
    margin-left: 17rem;
    font-size: 1.2rem;
    width:10rem;
    height: 3rem;
    border-radius: 15px;
}
.top_container img{
    width:60%;
    margin-top: 5rem;
    margin-left: 8rem;
}
.mid_container{
    
    height: 60vh;
    background: #b7d1e8d6;

}
.services{
    background: rgba(240,240,240,0.8);
    height: 45vh;
    margin-top: 3.5rem;
    margin-left: 4rem;
    border-radius: 1rem;
    box-shadow: 0.7px 0.7px 10px -1px #a0bac9;
    margin-right: 4rem;
    margin-bottom: 2rem;
    color: #35375E;
    transition:transform 400ms linear,background-color 700ms linear;
}
.imgcontainer3,.imgcontainer2,.imgcontainer1{
    text-align: center;
    justify-content: center;
    height:18vh;
}
.imgcontainer3 img
{
    width:90px;
    margin-top: 1rem;
}
.imgcontainer2 img{
    width:120px;
    margin-top: 2px;
}
.imgcontainer1 img{
    width:86px;
    margin-top: 1.2rem;
}
.des h2{
    font-family: 'Varela Round';
    font-weight: bold;
   
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px;
}
.des p{
    text-align: justify;
    padding: 1.5rem;
    font-family: 'Varela Round';
    font-weight: 600;
    /* color: #444480; */
}
.services:hover{
    transform: translateY(-10px);
    background-color: #35375E;
    color: snow;
    text-shadow: none;
}
.bot_container{
    background-color:azure;
    height: 80vh;
}
.bot_container h1{
    font-size: 3rem;
    font-family: 'Dela Gothic One';
    letter-spacing: 2px;
    color: #35375e;
    margin: 3rem 0 0.5rem 1rem;
    padding: 4px;
}
.bot_container p{
    color: #5567a57d;
    font-size: .9rem;
    line-height: 22px;
    letter-spacing: 1px;
    font-family: 'Varela Round';
    padding: 1rem;
    text-align: justify;
    margin: 3rem;
}
.steps{
    padding: 1rem 0.2rem;
    background: #fff;
    text-align: center;
}
#img1{
    width:90%
}
#img2{
    width:70%
}
#img3{
    width:70%
}